.floating-icon {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: (#C082B9); 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: darken(#C082B9, 10%);
    }
}
