// _mixins.scss

@mixin flex-center($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin responsive-text($desktop-size, $tablet-size, $phone-size) {
  font-size: $desktop-size;
  @media (max-width: 1440px) {
    font-size: $tablet-size;
  }
  @media (max-width: 768px) {
    font-size: $phone-size;
  }
}
