//colors
// $primary: #FFFFFF;
// $secondary:black; 
// $tertiary: #C39C90; 
// $fluo: #C6F700;

    // $black: #000000;
    // $grey: #666153;
    // $extradark: #d6d0c8;
    // $dark: #e2dfd8;
    // $medium: #ebebe7;
    // $light: #f6f1ec;
    // $extralight: #f8f6f3;
    // $fontsize: 18px;
    // // b7b0aa
    // $darkorange: #D93100;
    $orange: #DD6144;
    $pink: #C082B9;
    $neonyellow: #CECA48;
    $beige: #D1BABA;
    $lightbeige: #ECE1E1;
    // $green: #007249;