// Variables and Fonts Import
@use "reset";
@use "vars" as v;
@import "mixins";

// Fonts
@each $family, $urls in (
  "Antonio": (
    "semi-bold": (
      "/fonts/Antonio/static/Antonio-SemiBold.ttf",
      600,
      normal,
    ),
  ),
  "Inter": (
    "light": (
      "/fonts/Inter/static/Inter-Light.ttf",
      300,
      normal,
    ),
    "regular": (
      "/fonts/Inter/static/Inter-Regular.ttf",
      400,
      normal,
    ),
  ),
  "EB Garamond": (
    "regular": (
      "/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf",
      normal,
      normal,
    ),
    "italic": (
      "/public/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf",
      normal,
      italic,
    ),
  )
) {
  @each $style, $values in $urls {
    @font-face {
      font-family: '#{$family}';
      src: url(nth($values, 1)) format("truetype");
      font-weight: nth($values, 2);
      font-style: nth($values, 3);
    }
  }
}

// Setting base font size for easy rem calculations
html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
  overflow-x: hidden;
}

// Global box-sizing, fonts, and body background
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  // font-family: "Inter", sans-serif;

  font-size: 1.5rem; // Sets default font size to 16px
  color: black;
  background-color: v.$light;
  text-align: center;
  letter-spacing: -.02em;
  line-height: 1.4;
}

// Typography - Global Styles
h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  // font-size: 2.5rem;
  // font-family: "Urbanist", sans-serif;
  font-family: "Bodoni, serif";
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: -10px;
  text-transform: uppercase;
}
h2 {
  font-size: 3rem;
  font-family: "Urbanist", sans-serif;
}
h3 {
  font-size: 2rem; // Adjusted for simplicity
  // font-family: "Quicksand", sans-serif;
  font-family: "Urbanist", sans-serif;

}

 h4 {
  font-size: 1.875rem; // Adjusted for simplicity
  // font-family: "Quicksand", sans-serif;
  font-family: "Urbanist", sans-serif;

}
h5 {
  font-size: 1.2rem;
  // font-family: "Montserrat", sans-serif;
  font-family: "Urbanist", sans-serif;
}

h6 {
  font-size: 1rem;
  // font-family: "Montserrat", sans-serif;
  // font-family: "Urbanist", sans-serif;
}


// Utilities
a {
  text-decoration: none;
  color: inherit; // Ensures links use the body's text color
}

ul, ol {
  list-style: none;
}

// Layout Styles for root, sections, and containers
#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}

// Responsive Design Adjustments
// @media screen and (max-width: 1024px) {
//   body {
//     font-size: 1.4rem; // Adjust base font size for smaller devices
//   }

//   h1 {
//     font-size: 2rem;
//   }
//   h2 {
//     font-size: 1.5rem;
//   }
//   h3, h4, h5, p {
//     font-size: 1rem;
//   }
// }