// Variables and Fonts Import
@use "./reset";
@use "./vars" as v;
@use "./mixins";
@use "./fonts.scss";

// Global Styles
html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @include mixins.flex-center(column);
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  // text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: -.02em;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

// Typography
h1 {
  font-family: 'Bodoni Moda', serif;
  @include mixins.responsive-text(4.8rem, 3.6rem, 3.2rem);
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  @include mixins.flex-center(row, flex-start, center);
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 { @include mixins.responsive-text(3rem, 2.4rem, 2rem); }
h3 { @include mixins.responsive-text(2.4rem, 2rem, 1.8rem); }
h4 { @include mixins.responsive-text(2rem, 1.6rem, 1.4rem); }
h5 { @include mixins.responsive-text(1.6rem, 1.2rem, 1rem); }
h6 { @include mixins.responsive-text(1.4rem, 1rem, 0.8rem); }

// Root Container
#root {
  @include mixins.flex-center(column);
  padding: 0 1rem;
}