.image-transition {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  // transition: opacity 0.9s ease, transform 0.5s ease;
}

.image-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  // transition: opacity 0.9s ease, transform 0.5s ease;
}
