@use "./../../styles/vars" as v;

/* Wrapper: General container for the app */
.wrapper {
  position: relative;
  width: 100vw; // Consistent with the inline style, remove if not needed
  overflow-x: hidden; // Suggested if horizontal overflow is not desired
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
