@use "./../../styles/vars" as v;

/* WrapperScroller: Allows for scrolling of content within it */
.wrapper__scroller {
  position: relative;
  z-index: 1;
  overflow-y: auto; // Ensures vertical scroll within this container
  display: flex;
  flex-direction: column; // Add if you want children to stack vertically
}

.scroll-content {
  display: block; // Default or flex if you need flex behaviors
  overflow-y: auto;
  scroll-behavior: smooth;
  flex: 1; // Ensures it takes up all available space in the flex container
}
