@use "./../../styles/vars" as v;

.button-group {
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  border: 1px solid transparent;
  // font-weight: 600;
  // text-transform: uppercase;
  // letter-spacing: 3px;
  cursor: pointer;

  &:focus, &:hover, &:active {
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
